<style>
  .svg-section {
    display: flex;
    justify-content: center;
  }

  .svg-section object {
    flex: 0 0 auto;
    max-width: 100%;
    height: auto;
    margin: 10px;
  }

  @media (max-width: 768px) {
    .svg-section object {
      flex: 0 0 50%;
    }
  }

  @media (max-width: 480px) {
    .svg-section object {
      flex: 0 0 100%;
    }
  }
</style>


{% schema %}
  {
    "name": "SVG Section",
    "class": "svg-section",
    "settings": [],
    "blocks": [],
    "max_blocks": 1,
    "presets": [
      {
        "category": "svg",
        "name": "svg"
      }
    ]
  }
{% endschema %}

{% assign svg_filename = '3.svg' %}
{% assign svg_file = '4.svg' %}
{% assign svg_file2 = '5.svg' %}
{% assign png = '6.svg' %}
{% assign png1 = '7.svg' %}

<div class="svg-section">
  <img src="{{ svg_filename | asset_url }}" width="200" height="200" />
  
  <img src="{{ svg_file | asset_url }}" width="200" height="200" />

  <img src="{{ svg_file2 | asset_url }}" width="200" height="200" />

  <img src="{{ png | asset_url }}" width="200" height="200" />

  <img src="{{ png1 | asset_url }}" width="200" height="200" />

</div>
