<style>
  .svg-section {
    display: flex;
    justify-content: center;
  }

  .svg-section object {
    flex: 0 0 auto;
    max-width: 100%;
    height: auto;
    margin: 10px;
  }

  @media (max-width: 768px) {
    .svg-section object {
      flex: 0 0 50%;
    }
  }

  @media (max-width: 480px) {
    .svg-section object {
      flex: 0 0 100%;
    }
  }
</style>


{% schema %}
  {
    "name": "SVG Section",
    "class": "svg-section",
    "settings": [],
    "blocks": [],
    "max_blocks": 1,
    "presets": [
      {
        "category": "svg",
        "name": "svg"
      }
    ]
  }
{% endschema %}

<div class="svg-section">
  <object data="{{ '3.svg' | asset_url }}" width="200" height="200"></object>
  <object data="{{ '4.svg' | asset_url }}" width="200" height="200"></object>
  <object data="{{ '5.svg' | asset_url }}" width="200" height="200"></object>
  <object data="{{ '6.svg' | asset_url }}" width="200" height="200"></object>
  <object data="{{ '7.svg' | asset_url }}" width="200" height="200"></object>
</div>
